* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #EBF2ED; }

body {
  background-color: #010326;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  body::-webkit-scrollbar {
    display: none; }

html {
  height: 100%; }

button {
  cursor: pointer; }

.header {
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  margin: 0px auto 60px auto;
  background-color: #011526;
  padding: 20px;
  border: 1px solid #F28322; }
  .header__logo span {
    color: #D97823; }
  .header__icono {
    position: relative; }
    .header__icono img {
      width: 60px;
      cursor: pointer; }

.cart-notif {
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; }
  .cart-notif_background {
    background-color: red; }
  .cart-notif p {
    text-align: center; }

body {
  height: fit-content; }

.main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #010326;
  position: relative; }
  .main__section {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 300px 1fr; }
    .main__section-seleccion {
      display: grid;
      justify-content: space-between;
      row-gap: 30px;
      grid-template-columns: repeat(3, 240px);
      padding: 20px;
      background-color: #011526;
      height: 1000px;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none; }
      .main__section-seleccion::-webkit-scrollbar {
        display: none; }
    .main__section-filtros {
      border: 1px solid #F28322;
      padding: 20px;
      background-color: #011526; }
      .main__section-filtros div {
        display: flex;
        align-items: center;
        gap: 15px;
        border: 1px solid #F28322;
        border-left: none;
        border-right: none;
        border-top: none; }
      .main__section-filtros label {
        width: 100%; }
      .main__section-filtros hr {
        margin-top: 10px; }

.cartelera {
  width: 210px;
  height: 425px;
  border: 1px solid #F28322;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between; }
  .cartelera_imagen {
    width: 200px;
    height: 300px;
    cursor: pointer;
    margin: 0 auto; }
    .cartelera_imagen img {
      width: 200px;
      height: 300px; }
  .cartelera_titulo {
    padding: 10px 0px; }
  .cartelera_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px; }
  .cartelera_boton {
    width: 100%;
    margin: 10px 0 0 0; }
    .cartelera_boton button {
      width: 100%;
      height: 30px;
      border-radius: 5px;
      border: none;
      background-color: #F28322;
      cursor: pointer;
      transition: all 0.15s;
      transition: all 0.15s; }
      .cartelera_boton button:hover {
        opacity: 0.8; }
      .cartelera_boton button:active {
        opacity: 0.6; }

.price {
  color: #D97823; }

.filtro_pelicula {
  margin: 10px 0; }

.visualizar {
  height: fit-content;
  max-height: 500px;
  width: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: grid;
  align-content: flex-start;
  row-gap: 10px;
  grid-template-rows: 100px; }
  .visualizar::-webkit-scrollbar {
    display: none; }
  .visualizar-pelicula {
    height: 80px;
    padding: 10px;
    display: grid;
    column-gap: 8px;
    grid-template-columns: 30px 55px 1fr; }
    .visualizar-pelicula-boton {
      display: flex;
      justify-content: center;
      align-items: center; }
      .visualizar-pelicula-boton button {
        transition: all 0.15s;
        height: 25px;
        width: 25px;
        border: 1px solid #F28322;
        background-color: #011526;
        padding: 3px 0 0 0;
        border-radius: 4px; }
        .visualizar-pelicula-boton button img {
          width: 95%;
          height: 95%;
          z-index: -1; }
        .visualizar-pelicula-boton button:hover {
          color: #011526;
          background-color: #D97823; }
          .visualizar-pelicula-boton button:hover img {
            filter: invert(6%) sepia(64%) saturate(1924%) hue-rotate(186deg) brightness(92%) contrast(99%); }
        .visualizar-pelicula-boton button:active {
          opacity: 0.6; }
    .visualizar-pelicula_poster {
      height: 80px;
      width: 100%;
      border: 1px solid #F28322; }
      .visualizar-pelicula_poster img {
        width: 55px;
        height: 80px; }
    .visualizar-pelicula_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
      .visualizar-pelicula_info__extra {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
    .visualizar-pelicula_precio {
      font-size: 25px;
      font-weight: bold;
      color: #F28322; }
    .visualizar-pelicula_genero {
      font-size: 14px;
      color: gray; }
    .visualizar-pelicula_fecha {
      font-size: 14px;
      color: gray; }

.total {
  height: 0;
  background-color: #011526;
  position: absolute;
  right: 0px;
  top: -60px;
  overflow-x: hidden;
  border: 0 solid #F28322;
  border-top: none;
  display: flex;
  flex-direction: column;
  transition: all 0.15s linear; }
  .total-precio {
    margin-top: auto; }

#total-canasta {
  padding-top: 5px;
  height: 30px;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #F28322;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold; }
  #total-canasta h5 {
    font-size: 25px; }
  #total-canasta p {
    font-size: 25px;
    color: #D97823; }

.boton-canasta {
  display: flex;
  justify-content: center;
  transition: all 0.15s; }
  .boton-canasta:hover {
    opacity: 0.8; }
  .boton-canasta:active {
    opacity: 0.6; }

#boton-checkout {
  background-color: #F28322;
  height: 35px;
  width: 200px;
  border: none;
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px; }

#buscador {
  max-width: 600px;
  width: 100%;
  position: relative; }

#input-buscador {
  width: 100%;
  border: 1px solid #F28322;
  outline: none;
  height: 35px;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: #011526; }

#resultados-busqueda {
  width: 100%;
  height: fit-content;
  max-height: 300px;
  overflow-y: scroll;
  background-color: #d8d7d7;
  position: absolute;
  top: 100%;
  border-radius: 15px;
  z-index: 1; }
  #resultados-busqueda hr {
    border: 0.5px 0 0 0;
    border-color: black; }

.busqueda {
  box-sizing: border-box;
  display: flex;
  padding: 15px;
  gap: 15px; }
  .busqueda-imagen {
    height: 60px;
    width: 40px;
    border: 1px solid black; }
    .busqueda-imagen img {
      height: 60px;
      width: 40px; }
  .busqueda-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .busqueda-info h3 {
      color: #010326;
      font-weight: bolder; }
    .busqueda-info h5 {
      color: darkcyan;
      font-weight: bold; }
    .busqueda-info h4 {
      color: black;
      font-weight: bolder; }
  .busqueda-carrito {
    margin-left: auto;
    align-self: center;
    border: none;
    border-radius: 4px;
    height: 40px;
    aspect-ratio: 1;
    background-color: darkcyan;
    cursor: pointer; }
    .busqueda-carrito img {
      height: 100%;
      width: 100%; }

#clear {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0 0 0;
  cursor: pointer; }
  #clear p {
    margin: 0px 15px 0px 0px;
    color: #F28322;
    font-weight: bold;
    font-size: 20px; }

.imagen-clear {
  height: 20px;
  aspect-ratio: 1; }

.img-busqueda {
  transition: all 0.15s; }
  .img-busqueda:hover {
    opacity: 0.8; }
  .img-busqueda:active {
    opacity: 0.6; }

footer {
  justify-self: flex-end;
  background-color: #011526;
  height: 100px;
  margin: 50px auto 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #D97823; }

.checkout-body {
  display: grid;
  align-content: center;
  justify-content: center;
  column-gap: 30px;
  grid-template-columns: 450px 750px;
  height: 100%; }

.checkout-canasta {
  border: 1px solid #D97823;
  width: 450px;
  height: 100%;
  max-height: 750px;
  overflow-y: scroll;
  position: relative; }
  .checkout-canasta-pelicula {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px; }
    .checkout-canasta-pelicula-img {
      display: flex;
      align-items: center;
      gap: 15px; }
      .checkout-canasta-pelicula-img-elemento {
        width: 80px;
        height: 120px;
        border: 1px solid #F28322; }
    .checkout-canasta-pelicula-info {
      height: 110px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
      .checkout-canasta-pelicula-info h5 {
        font-size: 14px;
        color: gray;
        margin-top: auto; }
      .checkout-canasta-pelicula-info h6 {
        font-size: 14px;
        color: gray; }
      .checkout-canasta-pelicula-info p {
        font-size: 25px;
        font-weight: bold;
        color: #F28322; }
      .checkout-canasta-pelicula-info_extra {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }

.checkout-metodo {
  height: 750px;
  width: 750px;
  border: 1px solid #D97823; }

.total-checkout {
  position: sticky;
  margin-top: auto;
  height: 100px;
  width: 100%;
  bottom: 0px;
  border: 1px solid #F28322;
  border-width: 1px 0 0 0;
  background-color: #011526; }

#total-canasta-checkout {
  position: sticky;
  padding-top: 5px;
  height: 90px;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold; }
  #total-canasta-checkout h5 {
    font-size: 25px; }
  #total-canasta-checkout p {
    font-size: 25px;
    color: #D97823; }
