* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #EBF2ED; }

body {
  background-color: #010326;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

html {
  height: 100%; }

.header {
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  margin: 0px auto 60px auto;
  background-color: #011526;
  padding: 20px;
  border: 1px solid #D97823; }
  .header__logo span {
    color: #F28322; }
  .header__icono {
    position: relative; }
    .header__icono img {
      width: 60px;
      cursor: pointer; }

.cart-notif {
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; }
  .cart-notif_background {
    width: 20px;
    height: 20px;
    background-color: red; }
  .cart-notif p {
    text-align: center; }

body {
  height: fit-content; }

.main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #010326;
  position: relative; }
  .main__section {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 300px 1fr; }
    .main__section-seleccion {
      display: grid;
      justify-content: space-between;
      row-gap: 30px;
      grid-template-columns: repeat(3, 240px);
      padding: 20px;
      background-color: #011526;
      height: 1000px;
      overflow-y: scroll; }
    .main__section-filtros {
      border: 1px solid #D97823;
      padding: 20px;
      background-color: #011526; }

.cartelera {
  width: 210px;
  height: 425px;
  border: 1px solid #D97823;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between; }
  .cartelera_imagen {
    width: 200px;
    height: 300px;
    cursor: pointer;
    margin: 0 auto; }
    .cartelera_imagen img {
      width: 200px;
      height: 300px; }
  .cartelera_titulo {
    padding: 10px 0px; }
  .cartelera_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px; }
  .cartelera_boton {
    width: 100%;
    margin: 10px 0 0 0; }
    .cartelera_boton button {
      width: 100%;
      height: 30px;
      border-radius: 5px;
      border: none;
      background-color: #D97823;
      cursor: pointer; }

.price {
  color: #F28322; }

.filtro_pelicula {
  margin: 10px 0; }

.visualizar {
  height: fit-content;
  max-height: 500px;
  width: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;
  align-content: flex-start;
  row-gap: 10px;
  grid-template-rows: 100px; }
  .visualizar-pelicula {
    height: 80px;
    padding: 10px;
    display: grid;
    column-gap: 5px;
    grid-template-columns: 55px 1fr; }
    .visualizar-pelicula_poster {
      height: 80px;
      width: 100%;
      border: 1px solid #D97823; }
      .visualizar-pelicula_poster img {
        width: 55px;
        height: 80px; }
    .visualizar-pelicula_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
      .visualizar-pelicula_info__extra {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
    .visualizar-pelicula_precio {
      font-size: 25px;
      font-weight: bold;
      color: #D97823; }
    .visualizar-pelicula_genero {
      font-size: 14px;
      color: gray; }
    .visualizar-pelicula_fecha {
      font-size: 14px;
      color: gray; }

.total {
  height: 0;
  background-color: #011526;
  position: absolute;
  right: 0px;
  top: -60px;
  overflow-x: hidden;
  border: 0 solid #D97823;
  border-top: none; }

#total-canasta {
  padding-top: 5px;
  height: 30px;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #D97823;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold; }
  #total-canasta h5 {
    font-size: 25px; }
  #total-canasta p {
    font-size: 25px;
    color: #F28322; }

.boton-canasta {
  display: flex;
  justify-content: center; }

#boton-checkout {
  background-color: #D97823;
  height: 35px;
  width: 200px;
  border: none;
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px; }

footer {
  justify-self: flex-end;
  background-color: #011526;
  height: 100px;
  margin: 50px auto 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #F28322; }
